[2017-03-05 17:13] rufuspollock opened #241 "Document various forms of the Schwartz Values Surveys"
There are at least three (?) versions of Schwartz's Cultural Value surveys:

* Schwartz Values Survey (SVS)
* Short Schwartz Values Survey (SSVS) - this is the one used in the European Social Survey
* Portrait Values Questionnaire (PVQ) (adapted version of the SVS designed for children)

Each of these may have several versions (e.g. PVQ has versions with 21, 40 and 57 questions).

Schwartz PDF exp

[2017-03-05 17:34] rufuspollock opened #240 "Basic summary about Schwartz's Cultural Values ideas"

[2021-06-27 16:27] rufuspollock opened #217 "Font choice for main text"
Some research with https://www.pairandcompare.net

![image](https://user-images.githubusercontent.com/180658/123552225-835d3000-d775-11eb-91fb-7af2ba2ee66c.png)

![image](https://user-images.githubusercontent.com/180658/123555273-1b164a80-d785-11eb-8edd-b2f4aead640f.png)

## Ideas

Other potential ideas

* Adobe Caslon Pro - https://fonts.adobe.com/fonts/adobe-caslon
* Apercu - https://www.colopho

[2021-06-27 21:24] rufuspollock opened #220 "Footnotes (sidenotes) implementation"

[2021-07-10 18:45] rufuspollock opened #219 "EPub versions of each of the sutras"
When I come across a page I want to get an epub version so i can read offline in my favourite epub reader (and add notes etc there)

## Acceptance

* [ ] Epub generated for each text
  * [ ] chapter titles generated for each section (if no h1 then h2 are chapter titles)
* [ ] Link to each epub on each page

## Analysis

* I think this gets generated outside of the generation by nuxt (?)
  * it doe

[2021-08-10 09:09] rufuspollock opened #1 "Key stuff to write e.g. primers / glossary"
* [ ] Annotated SCQH
* [ ] Primacy of being
* [ ] Non-attachment to views
* [ ] Mindfulness
* [ ] "A big vision" (and false necessity etc)
* [ ] Possibility of transformation

---

## Possibility of Transformation

David Sloan Wilson (Chapter 7 of Darwin's Cathedral):

https://artearthtech.com/2019/02/04/darwins-cathedral-david-sloan-wilson/

[2021-08-10 09:27] rufuspollock opened #2 "[epic] Create online dictionary of communitarian initiatives"
[NB: this issue originally created 3-4y ago in gitlab]

We want to research communitarian initiatives from around the world to understand what works, so we can learn from them to perhaps implement their methods amongst our community building efforts with art earth tech.

## Acceptance

* [ ] to learn about the different communitarian initiatives worldwide
* [ ] to create a diverse dictionary/archi

[2021-08-10 09:27] rufuspollock commented on #2
In progress at https://github.com/life-itself/intentional-communities

[2021-08-10 09:29] rufuspollock opened #3 "[inbox] Rufus Project Ideas"
* [ ] Coliving map
* [ ] Conscious coliving index
* [ ] Wise metrics
* [ ] Well schools map / index

[2021-08-10 09:30] rufuspollock opened #4 "Write pamphlets on core positions of Life Itself"

[2021-08-10 09:36] rufuspollock opened #5 "Post Let’s Get Political (Feb 2020 in Taiwan)"
Post Let’s Get Political (Feb 2020 in Taiwan) https://docs.google.com/document/d/1rmxMlbiXEyAHy4fSACTghMLpKBvhmMYWWSap-H0pksg/edit#heading=h.ayujj5bmyuwi

[2021-08-10 10:03] theo-cox opened #1050 "Post on blog 2020 idea/proposal "Embodied Inquiry: Maps and Rafts" materials"
We (esp Liam) did a bunch of ideation and writing around this. Let's get it posted as a "big idea" or similar.

## Tasks

- [ ] Find existing materials and review **🚧2022-11-25 [drive folder](https://drive.google.com/drive/folders/18UioRpd6l6GG7W1RW-Ay09G0fti4MpyP)**
- [ ] Identify what we want to post (if any) and where (e.g. labs or main site) **✅2024-02-26 worth posting the overview along with

[2021-08-10 10:05] theo-cox opened #1052 "Contemplative Activism book (what happened)"
Liam and Valerie were contributing to a contemplative activism book in Aut 2021. What happened to this? Are there outputs (even from Liam and Valerie) that we can share?

## Acceptance

- [ ] Blog post about contemplative activism book idea and/or outputs
- [ ] Outputs posted on blog / site connected with collective activism initiative

## Tasks

- [x] Find out from Liam and Valerie what happened

[2021-08-10 10:05] rufuspollock opened #191 "[inbox] Tao: Rufus Inbox of things to Post (2020)"
Created in 2020.

**2022-11-09**: Note a lot of this is covered in ... and need to check what if anything remains to be done here.

Research

* [ ] Mine Plum Village's Joyfully Together and Chanting book for practices and rituals we can reference for Life Itself practices
* [ ] Berkshire Hathaway owner's manual https://www.berkshirehathaway.com/ownman.pdf. TODO: extract relevant contents to resear

[2021-08-10 10:35] rufuspollock opened #6 "Andrew Yang UBI"
In GitLab by @rufuspollock on Sep 8, 2019, 08:49

https://www.yang2020.com/what-is-freedom-dividend-faq/

$1k a month for every adult american.

He doesn't provide a lot of detail afaict. A good set of FAQs more focused on the political than the details e.g.

## Analysis

**Summary: $3tn needed, 1/3 or which unexplained and 1/3 depends on generous economic growth projections**

He estimates that $

[2021-08-10 10:35] rufuspollock commented on #6
In GitLab by @rufuspollock on Sep 8, 2019, 08:53

changed the description

[2021-08-10 10:35] rufuspollock commented on #6
In GitLab by @rufuspollock on Sep 8, 2019, 09:07

changed the description

[2021-08-10 10:35] rufuspollock commented on #6
In GitLab by @rufuspollock on Sep 8, 2019, 09:09

changed the description

[2021-08-10 10:35] rufuspollock commented on #6
In GitLab by @rufuspollock on May 12, 2021, 15:06

FIXED. Post a revision of this on our blog https://lifeitself.us/2019/09/08/andrew-yangs-universal-basic-income-proposal-ubi-does-it-add-up/

[2021-08-10 10:35] rufuspollock commented on #6
In GitLab by @rufuspollock on May 12, 2021, 15:06

changed the description

[2021-08-10 10:35] #6 closed

[2021-08-10 10:35] rufuspollock opened #7 "Climate Change Action - what do people propose"
In GitLab by @rufuspollock on Sep 10, 2019, 21:22

Interesting to look at what people propose in terms of ways to address climate change:

* (Effective) Collective action
* (Ineffective) Technological -- techno-solutionism
* (Ineffective) Conscious Consumerism (salve for the conscience - would be effective if money were spent supporting collective action but otherwise is like eating organic scamor

[2021-08-10 10:35] rufuspollock opened #8 "Taiwan Education"
In GitLab by @rufuspollock on Oct 25, 2019, 16:15

* [ ] Add notes from May 2019 (??) (less related to taiwan)
* [ ] Add notes from 13 Oct 2019 research meeting

## New Curriculum 2018

Curriculum Guidelines of 12-Year Basic Education - General Guidelines

https://www.naer.edu.tw/ezfiles/0/1000/img/52/129488083.pdf

[taiwan-new-curriculum.pdf](/uploads/570982b516d75bb8a67d80bcfcecf845/taiwan-new-c

[2021-08-10 10:35] rufuspollock commented on #8
In GitLab by @rufuspollock on Oct 25, 2019, 16:16

changed the description

[2021-08-10 10:35] rufuspollock commented on #8
In GitLab by @rufuspollock on Oct 25, 2019, 16:18

changed the description

[2021-08-10 10:35] rufuspollock opened #9 "Genetic Correlates of Social Stratification in Great Britain (Inequality now extends to people's DNA)"
In GitLab by @rufuspollock on Nov 19, 2019, 08:37

Very interesting paper. Still not entirely clear on the conclusions esp those in the more journalistically titled Conversation piece ("Inequality now Extends to People's DNA).

[Inequality_now_extends_to_people_s_DNA.pdf](https://github.com/life-itself/community/files/6961987/Inequality_now_extends_to_people_s_DNA.pdf)

[Genetic_correlates_of_soci

[2021-08-10 10:35] rufuspollock opened #10 "Coliving Operators in relation to Community and Wellbeing"
In GitLab by @rufuspollock on Nov 20, 2019, 23:00

## Mason and Frith - Nov 2019 - Bermondsey London

--

![image](/uploads/aeece35f0d94ba54b6576c80570fb475/image.png)

![image](/uploads/bd73796a0016b4ca3f2a31f5d4d0397c/image.png)

![image](/uploads/9434e1e633b573d8b2bbbe4eedffc658/image.png)

[Mason___Fifth___Bermondsey_studios_available_January_2020.pdf](/uploads/f8d101dc5286d36b2b6e5989bf7051ca

[2021-08-10 10:35] rufuspollock commented on #10
In GitLab by @rufuspollock on Nov 20, 2019, 23:05

changed the description

[2021-08-10 10:35] rufuspollock opened #11 "Purpose is Everywhere (in theory) (aka Purpose BS)"
In GitLab by @rufuspollock on Nov 20, 2019, 23:24

## DCVC

https://www.dcvc.com

![image](https://user-images.githubusercontent.com/180658/128873484-094a7779-1704-4170-bf91-dde34a270211.png)

You have got to love that "multiply the benefits of capitalism for everyone" 😉

## FORE partnership

https://forepartnership.com/about/

"Purpose driven real estate investment partnership"

What is "purpose

[2021-08-10 10:35] rufuspollock commented on #11
In GitLab by @rufuspollock on Nov 20, 2019, 23:33

changed the description

[2021-08-10 10:36] rufuspollock commented on #11
In GitLab by @rufuspollock on Nov 20, 2019, 23:38

changed the description

[2021-08-10 10:36] rufuspollock commented on #11
In GitLab by @rufuspollock on Dec 9, 2019, 23:10

changed title from **Purpose is Everywhere (in theory)** to **Purpose is Everywhere (in theory){+ (aka Purpose BS)+}**

[2021-08-10 10:36] rufuspollock commented on #11
In GitLab by @rufuspollock on Dec 9, 2019, 23:11

changed the description

[2021-08-10 10:36] rufuspollock commented on #11
In GitLab by @rufuspollock on Apr 2, 2020, 15:21

changed the description

[2021-08-10 10:36] rufuspollock commented on #11
In GitLab by @rufuspollock on Jul 17, 2021, 11:50

changed the description

[2021-08-10 10:36] rufuspollock opened #12 "Hal Stone and Voice Dialogue"
In GitLab by @rufuspollock on Dec 9, 2019, 23:12

Hal Stone and Voice Dialogue etc https://voicedialogueinternational.com/index-Hal_Stone.htm

Source: mentioned by Doshin Roshi

[2021-08-10 10:36] rufuspollock commented on #12
In GitLab by @rufuspollock on Dec 9, 2019, 23:12

changed the description

[2021-08-10 10:36] rufuspollock opened #13 "[PLACEHOLDER ISSUE] - for issue #8"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2021-08-10 10:36] #13 closed

[2021-08-10 10:36] rufuspollock opened #14 "The Blockchain / Bitcoin Delusion ..."
In GitLab by @rufuspollock on Sep 16, 2020, 09:42

16 Sep 2020: This is a masterful takedown and analysis written by a developer who has worked at one of leading blockchain companies (and who i know personally): https://www.stephendiehl.com/posts/crypto.html

2016/2017

See also https://rufuspollock.com/2016/07/02/reflections-on-the-blockchain/ and https://rufuspollock.com/2017/05/11/thoughts-on-b

[2021-08-10 10:36] rufuspollock commented on #14
In GitLab by @rufuspollock on Sep 16, 2020, 09:42

changed the description

[2021-08-10 10:36] rufuspollock commented on #14
In GitLab by @rufuspollock on Sep 16, 2020, 09:43

changed title from **The Blockchain Delusion ...** to **The Blockchain {+/ Bitcoin +}Delusion ...**

[2021-08-10 10:36] rufuspollock opened #15 "Ontological politics clips"
In GitLab by @rufuspollock on Oct 22, 2020, 20:01

32s into minimalism documentary:

![image](/uploads/9efefb48ffb85d9ced27026cd2aa7521/image.png)

[2021-08-10 10:36] rufuspollock opened #16 "Techno-solutionism"
In GitLab by @rufuspollock on Mar 20, 2021, 22:14

## Examples

* Mar 2020: Techno-solutionism https://www.huxley.net - which is part of https://www.bltc.com

[2021-08-10 10:36] rufuspollock opened #17 "WeWork in 2016 - FT Article"
In GitLab by @rufuspollock on Apr 2, 2021, 13:20

MARCH 17, 2016 by: Anna Nicolaou
It is February, a few days or so after WeWork’s valuation has jumped to $15bn, and Adam Neumann, chief executive of the office space start-up, is fussing over what kind of tea to serve me. “Not the lime one,” he says to an assistant in WeWork’s new headquarters in Manhattan’s Chelsea district. “It had a triangular b

[2021-08-10 10:53] rufuspollock opened #190 "[epic] MVP V1 of the Tao"
Originally created: March 2020

## Description

When coming to Life Itself, whether as investor, hub member, team member, or other interested party, I want to know who they are, what they believe, what they do and how they do it, so I can see whether Life Itself is right for me and how I can participate further.

Full job stories, content map etc in this spreadsheet: https://docs.google.com/spread

[2021-08-10 13:23] #8 closed

[2021-08-10 13:25] #9 closed

[2021-08-10 13:28] #10 closed

[2021-08-10 13:28] #15 closed

[2021-08-10 13:33] #17 closed

[2021-08-10 13:33] #7 closed

[2021-08-10 13:34] #14 closed

[2021-08-10 13:35] #11 closed

[2021-08-10 13:35] #12 closed

[2021-08-10 13:36] #16 closed

[2021-08-10 13:54] rufuspollock opened #29 "Posting footage of AET 2017 gathering"
Posting footage of AET 2017 gathering (we have lots!)

## Acceptance

* [ ] all video of 2017 gathering up on our youtube channel

## Task
* [ ] receive the hard drive
* [ ] edit the footage
* [ ] add the name of the speaker, date, topic on the footage, and Life itself logo
* [ ] put up the video on the youtube channel
* [ ] let sylvie know

[2021-08-10 13:59] rufuspollock opened #30 "2017 Gathering Retrospective Post (with media links)"
Find (or create) 2017 gathering retrospective and add media links ...

## Acceptance

* [ ] Find (or create) 2017 gathering retrospective

Make sure intro slides to AET gathering 2017 is in AET gathering folder and (?) published on 2017 retrospective

* [x] .key file Uploaded to 2017 gathering folder https://drive.google.com/drive/folders/0Bz-ijCxKZICEaGV6ckVwYWoxdkE
* [x] pdf version uploaded to

[2021-08-10 14:00] rufuspollock opened #31 "[epic] Create a Research Program ("Wiser World")"
Create a general research program / agenda that outlines what we are pursuing and which others can connect with and contribute to.

## Tasks

* [ ] Capture existing work
  * [ ] 2016/2017 outline: https://docs.google.com/document/d/18_vdpVcpKCvdhpwO3cUDPBsMttMD9AzueH4e7cVjHhc/edit#
  * [ ] SCQH for "Transforming the Narrative" - https://tao.lifeitself.us/plans/#two-pillars
* [ ] Clarify
* [ ] Publ

[2021-08-10 14:12] rufuspollock opened #32 "Post up "transforming the narrative" SCQH and analysis"
Post up "transforming the narrative" (big vision conversation) SCQH and analysis on tao (and blog)

Could back-post to when we wrote it (july 2020)

## Acceptance

* [x] Added to tao in `/scqh/` (i think) **Done**
* [x] Blog post (back-blogged i think) **https://lifeitself.us/2020/10/14/transforming-societies-scqh/**

## Tasks

* [x] Locate SCQH **DONE: see https://docs.google.com/document/d/1MoUx

[2021-08-10 14:13] rufuspollock opened #33 "Possibility Now Analysis - What do we do now (March 2021)?"
We started Possibility Now https://possibilitynow.org/ in April 2020 but never formally launched it (though we did blog a little bit). We have a great website and lots of content including some that's unpublished.

Questions:

* Do we (re)announce PN?
* What material is there to put up?
* How do we link from Life Itself?

## Acceptance

- [ ] We've answered our questions
- [ ] We have a plan of wo

[2021-08-22 09:25] rufuspollock opened #35 "[inbox] Potential Posts / Essays"
* [x] End of legal slavery and change in views
* [ ] Article about more pacificistic nature of buddhism and non-monotheistic societies

[2021-09-02 08:25] rufuspollock opened #36 "Consolidated Life Itself “why” doc (started very short why.md in tao)"
## Tasks

* [ ] Why do this? How long does it take
* [ ] ...

[2021-09-05 13:31] rufuspollock opened #37 "[epic] Regular community catch-ups e.g. monthly"
Charley Lee and I are going to organize community catchups.

## SCQH

Situation

* Have not run

[2021-09-06 14:34] theo-cox opened #41 "Comparing Social Media Management Platforms"
When I'm using social media to engage the broader Life Itself community, I want the best integrated platform to manage the content we post across our channels.

## Acceptance
- [x] Platform recommendation made **Recommend Buffer as it's the best value for the features we want**
- [x] Subscription purchased **We're on the Buffer free plan already - have switched email to accounts@lifeitself.us and

[2021-09-06 15:45] theo-cox commented on #41
@rufuspollock spreadsheet linked and recommendation made above

[2021-09-07 06:53] rufuspollock commented on #41
@theo-cox great - and i think we fit in the free plan for now. Let's go for it get an account with accounts email ...

[2021-09-07 07:57] theo-cox commented on #41
Cool @rufuspollock on the todoist and will aim to do today!

[2021-09-07 11:44] theo-cox commented on #41
FIXED. We have the Buffer free plan.

[2021-09-07 11:44] #41 closed

[2021-09-07 20:29] rufuspollock opened #43 "Cache and post about this great video about the 2020 Building Fest"
This is a lovely video from a volunteer who shared it on facebook. Huge props to putting it together.

https://www.youtube.com/watch?v=IU64TRTUxmo

## Tasks

* [x] Cache a copy (stuff disappears off youtube sadly) onto life itself youtube
* [ ] Blog this either newly (or add to existing follow up post) **💬2024-07-03 ❓ blog or at least categorize somewhere ...**
* [ ] Share on social media **💬2024-

[2021-09-09 08:46] rufuspollock opened #44 "Process old (google form) contact requests (approx Jan 2020 to April 2021)"
Check in on processing of old Art Earth Tech contact stuff https://docs.google.com/spreadsheets/d/1ab-riuFqGYi5510HgZxUnxrmZFROXckULS0_cbAzx-g/edit#gid=1997953790

## Acceptance

* [x] Have responded (or decided not to) all request
* [x] Sheet is marked as deprecated and moved to Attic in drive

## Tasks

* [x] Review requests in the sheet https://docs.google.com/spreadsheets/d/1ab-riuFqGYi5510HgZ

[2021-09-09 08:51] rufuspollock opened #45 "Pattern for handling "how do i engaged" with you requests?"
As a community we are likely to get regular inquires about how to engage with us. Would be good to clarify the pattern for responding with good pathways for people to engage.

## Acceptance

* [ ] Tao has a pattern for handling engagement enquiries

## Tasks

* [ ] Collect examples of enquiries
* [ ] Come up with suggested routes
* [ ] Routinize / standardize into a pattern
* [ ] Add to Tao

## Ex

[2021-09-13 12:21] rufuspollock commented on #37
@theo-cox + charley: talking with @IljaMaiber sounds like Community Hangout or Catch-up sounds better. Salon is a bit too formal perhaps.

[2021-09-13 12:32] rufuspollock opened #49 "Research and overview: How do paradigms arise in society and get adopted?"
This is a key question in our core SCQH issue tree / theory of change.

## Acceptance

* [ ] Key references in a zotero collection
* [ ] Summary of key ideas / terms
* [ ] Identification of next steps
* [ ] (Bonus) Initial essay / post

## Tasks

[2021-09-14 12:09] theo-cox commented on #44
FIXED. Replied to those worth doing and deprecated the sheet.

[2021-09-14 12:09] #44 closed

[2021-09-14 13:32] theo-cox commented on #32
FIXED. uploaded and blog posted.

[2021-09-14 13:32] #32 closed

[2021-09-20 10:47] rufuspollock opened #53 "Post notes on post-capitalism by Paul mason"
Read this 4y ago and have fairly extensive notes.

Relates ot utopianism, diagnosis of current issues plus open Revolution.

[2021-09-21 13:44] theo-cox commented on #36
@rufuspollock moving to in review so we can discuss when you're back. See issue for comments.

[2021-09-23 11:17] rufuspollock opened #54 "Add Life Itself Hubs on Google (Maps) - just Farmhouse remaining"
Thenac hub is already on google maps

Would be good to add Berlin and Bergerac.

![image](https://user-images.githubusercontent.com/180658/134497851-2fb78ca7-90fb-4a94-b056-7668e4f1e3cf.png)

## Acceptance

* [x] Berlin hub listed on google and search for life itself berlin shows it **Done - https://goo.gl/maps/T8Hv2J42nLBvoQn36**
* [x] Bergerac hub listed
* [ ] Current Bergerac Hub relisted as "L

[2021-09-27 09:46] rufuspollock opened #56 "Primacy of Being essay"
Context: Primacy of Being is a key tenet of Life Itself's approach (e.g. ref'd in SCQH etc) yet quite a subtle point that is easily misunderstood (e.g. "be the change you want to see" or "you are a human being not a human doing"). It also involves major points of our political philosophy regarding both the focus and means of social transformation.

## Notes

* Primacy of being in a nutshell:  prim

[2021-09-27 12:07] rufuspollock commented on #37
Have shared to research call group plus residents.

[2021-09-27 12:10] rufuspollock opened #57 "Oct 2021 Community Hangout"

[2021-09-27 12:15] rufuspollock commented on #49
@theo-cox can you drop a quick summary comment of what you have done so far and what we do next.

[2021-09-27 12:26] rufuspollock opened #58 "Emerge 2021 including satellite stuff, material etc #29"
Emerge is taking place in Berlin and several members of community are attending and it is location of Life Itself Berlin Hub!

## Acceptance

* [ ] Materials
* [ ] Attended event
* [ ] Satellite events at Berlin Hub
* [ ] Collated all relevant contacts
* [ ]

## Tasks

* [ ] Coordination meeting with @theo-cox @IljaMaiber etc to understand plan ... (esp as @lkavanagh30 can't attend now)
* [ ] Even

[2021-09-28 15:09] theo-cox commented on #49
@rufuspollock have begun to capture some of the core fields relevant to this topic, some major themes sitting under these fields and a reading list in Zotero. From this I've also added some preliminary reflections at the top of the document. Next steps would be as follows:
1) tidy the notes a bit
2) use this to construct a research agenda/plan, including research questions and some direction aroun

[2021-09-28 19:24] rufuspollock opened #61 "[epic] Post up content for all Life Itself Salons 2017-2020"
We ran a variety of salons from ~2017-2020 with majority being in 2019-2020 and coordinated by Petro (Salons have sort of gone on hiatus since 2020 and will probably be replaced by imaginary society and community calls).

## Acceptance

* [ ] We have a list of all the salons
* [ ] We have posted the recordings of the salons
* [ ] We have blog post for each salon which includes recording or other c

[2021-09-28 20:20] rufuspollock opened #62 "Create nextjs starter templates with tailwind + mdx"
## Tasks

* [ ] Why do this
* [ ] Research existing
  * [ ] e.g. GitHub - https://github.com/mihalik/nextjs-mdx-tailwind-starter - has 3*
  * [ ] https://github.com/timlrx/tailwind-nextjs-starter-blog - excellent but far too many batteries included for what i need

## Why do this

Pros / cons of doing my own nextjs template for tailwind + nextjs (vs e.g. https://github.com/timlrx/tailwind-nextjs-s

[2021-09-29 15:04] theo-cox commented on #54
@rufuspollock adding waiting for label until I hear back from Google

[2021-09-29 21:00] rufuspollock commented on #62
DUPLICATE now of https://github.com/datopian/nextjs-tailwind-mdx/issues/1

[2021-09-29 21:00] #62 closed

[2021-10-05 11:48] rufuspollock opened #63 "Footnotes on Life Itself website"
https://github.com/WordPress/gutenberg/issues/1890

[2021-10-07 05:44] rufuspollock opened #64 "[inbox] Posts"
* [ ] Trees Planting - DIY Guide
 by Mario Mouraz (at 2019 gathering) https://docs.google.com/document/d/1Cq_DWFFtQykkY9D28C_BqiG776CTL4F-zPQ4MRT6GC0/edit

[2021-10-11 20:48] rufuspollock opened #66 "[research] Apps for community support and management"
* lu.ma - community platfrom (used by nwspk)
* mightynetworks (your own community social network)

[2021-10-20 08:08] theo-cox commented on #36
@rufuspollock OK. There is one doc to review which contains overall SCQH, issue tree link and short summary in that order (which is the order most natural to review): https://docs.google.com/document/d/1I4Dp4QICqXYNT2lGZqlTMAulX9V8moN8P06eFfFuALk/edit

[2021-10-22 22:14] rufuspollock opened #71 "Lessons from the coliving experiments so far"
Motivated by question from Trip in Aug 2021. Generally relevant point to reflect on.

Basic point: Iteration of (hypo)theses

Qu: what have we learnt from doing our conscious coliving experiments at Life Iteslf?

* We have run conscious coliving trials in 3 locations: London, Bergerac and Berlin
* Differing levels of intensities
* Also reviewed and researched other coliving efforts

Patterns

[2021-10-25 14:27] rufuspollock opened #73 "Checklist for blog posts"
* [ ] Featured image (why?)
* [ ] Add categories
* [ ] (?) Tags ...

## Categories

* News => used for all real news e.g. launch or major updates to initiatives, partnerships, etc ...
* Events => for events (may also be in news) => so that we can have an `/events/` page run off this ...
* Topics

[2021-10-31 21:58] rufuspollock opened #76 "Put up a banner on lifeitself.us announcing sympoiesis residencies"

[2021-11-02 15:33] theo-cox commented on #54
Update: need to verify this is our business to update. Awaiting something to verify in the post...

[2021-11-02 15:34] rufuspollock opened #81 "[epic] Create and Share Sympoiesis #3 at Bergerac Praxis Hub"
## Acceptance

* [x] Residency outline finalized and published
* [x] Shared to relevant networks and people

## Tasks

...

[2021-11-03 16:53] rufuspollock opened #82 "Life Itself Newsletter Nov 2021"
Draft and send a newsletter for Nov 2021.

## Acceptance

* [ ] Bimonthly newsletter sent out for November

## Tasks

* [ ] Send email newsletter
* [ ] Report stats (?)

[2021-11-03 22:51] rufuspollock opened #163 "Inspirations and Peers"
* https://www.organism.earth/library - very nice (creator is the pseudonymous https://www.reddit.com/user/CuratorOfTheLibrary/) - contacted them on 3 Nov 2021 (see below)
* gitenberg - http://gitenberg.github.io
  * Knew seth quite well and talked with them a lot at the beginning (was kind of similar to openliterature aspirations at the time).
  * Project looks quiet since 2018 when they shipped t

[2021-11-05 09:42] rufuspollock commented on #36
[Update: 11d ago!] we reviewed and tidied new (longer, narrative) version https://docs.google.com/document/d/1I4Dp4QICqXYNT2lGZqlTMAulX9V8moN8P06eFfFuALk/edit and started turning into shorter slides.

[2021-11-05 16:30] theo-cox commented on #36
@rufuspollock main issue tree now consolidated here: https://coggle.it/diagram/YYU3x3wfye5HJKNN/t/root-issue-tree-nov-2021-where-are-we-in-at-this-point

[2021-11-09 08:12] rufuspollock commented on #76
FIXED. Banner is up ...

![image](https://user-images.githubusercontent.com/180658/140886569-c31ec344-3de0-45a5-9039-0c41a8ccc627.png)

[2021-11-09 08:12] #76 closed

[2021-11-09 15:36] rufuspollock opened #83 "Post up recording with Karl from November community hangout and circulate"
We have a nice recording of the 7 Nov community hangout with our interview with Karl. We want to post this on our youtube channel and update the blog post.

## Acceptance

* [x] Recording downloaded from zoom and posted to our youtube channel ✅ **See https://youtu.be/CknEw_qNpoQ**
  * [x] Bonus for putting a "title slide" on the front and at the end
* [x] Updated hangout post with embed of video h

[2021-11-16 22:44] rufuspollock opened #87 "Recover co-x stuff in git lfs"
Much of co-x stuff in this repo was in git-lfs and has not got migrated from gitlab. Need to fix this.

Also preferably remove it from git-lfs if we can ...

[2021-11-25 16:21] theo-cox commented on #35
@rufuspollock discussed posts now here in backlog

[2021-11-25 20:58] rufuspollock commented on #87
FIXED. Retrieved from gitlab and then ran `git lfs push origin --all`. Decided simplest for now was to keep in git lfs (~50Mb+). Gotcha is that `.gitattributes` is only in co-x directory ...

If we do want to move into normal git see instructions here https://stackoverflow.com/questions/35011366/move-git-lfs-tracked-files-under-regular-git

[2021-11-25 20:58] #87 closed

[2021-11-25 21:08] rufuspollock commented on #82
@theo-cox i think we can close this. Perhaps share the stats if you would like (%tage opens).

[2021-11-25 21:10] rufuspollock opened #88 "Check we migrated wp-content stuff when we moved to dreampress from wordpress.com"
e.g. this file looks like still on wordpress.com (linked from https://lifeitself.us/2016/07/28/co-x-coliving-coworking-coops-gathering-2016/) https://artearthtech.files.wordpress.com/2020/03/co-x-for-helsinki-20160902.pdf﻿

[2021-11-25 21:58] rufuspollock opened #89 "[epic] Community Repo as forum x wiki x research notebook"
Idea: use this repository as notebook/wiki/forum and have that published online at e.g. forum.lifeitself.us or lifeitself.us/forum/

There are roughly two parts to this:

1. A structure for adding content, discussions etc
2. A way of publishing that online

## Job Stories

When I have notes on a book I want to be able to publish them somewhere so that others (and myself) can find them

When I have

[2021-11-28 16:07] rufuspollock opened #91 "Community Hangout Dec 2021"
Community hangout has happened and we've posted any updates / recordings if appropriate.

## Acceptance

* [x] Hangout setup
* [x] Hangout announced
* [x] All relevant people invited
* [x] Hangout has happened (on 12 Dec)
* [x] Any outputs are updated

## Tasks

* [x] Identify speaker **DONE. Esther Montmany**
* [x] Set up the hangout calendar invite
  * [x]  Zoom link
  * [x] Announce info
  * [x

[2021-11-28 21:09] rufuspollock opened #92 "Check this AET glossary is merged into the tao"
Check this AET glossary is merged into the tao - https://docs.google.com/document/d/1b-9B3b-rEtpYqw5fCXCs0CcoUIuBBmuhwmJ5IfsvgSI/edit#heading=h.nj7mfrmxnynh

Add to https://lifeitself.org/notes/glossary

[2021-11-28 21:12] rufuspollock opened #93 "Identify intentional community / conscious coliving related places to advertise residencies"
When sharing the residencies I want to know of intentional community related places online where this could be shared because this is relevant to people interested in intentional communities.

## Acceptance
Have list of intentional community groups and forums ready to post whenever we want to advertise a residency.

## Tasks
- [x] Search for appropriate groups online ✅ 2024-01-22 [This spreadsheet

[2021-11-28 21:27] rufuspollock opened #94 "[epic] Conscious Parenting"
Create a conscious parenting course and/or resources online so that others may use them

Why: conscious parenting is one very concrete, very powerful area of application of "wiser" principles to day to day life.

How do we start?

- [ ] "Pilot" where we get some initial content (e.g. from interviews)
- [ ] Refine that material into an initial guide (e.g. pull out general principles, specific topic

[2021-11-28 21:30] rufuspollock opened #95 "Sympoiesis no 3 (Jan 2022) - Launch and share"
[Aside: Originally opened on 26 Oct ... - in another repo]

## Acceptance

* [x] Page on website for the event that we can link to
* [x] 20 people pinged
* [x] 8 people booked

## Tasks

* [x] Finalize draft of outline and put on website
  * [x] Finalize pricing
* [x] Send round to people from Emerge
* [x] Message relevant groups re the Jan workshop and others
* [x] Announce sunday 7 Nov event wit

[2021-11-28 21:56] rufuspollock opened #96 "Process 2016 to ~2019 community research materials"
Some good stuff in there including various salons etc. Would be nice to extract the good stuff and post it so it was online and this stuff could be archive.

## Tasks

* [ ] Do acceptance, tasks etc
* [ ] Move community research initiative docs at AET to relevant place (currently in real estate fund) [Community Research Initiative 2016-Present - Google Drive](https://drive.google.com/drive/folders

[2021-11-28 21:56] rufuspollock opened #97 "Initiatives (Projects) list for Life Itself (created and on website)"
When sharing Life Itself's work i want an up to date list of current and past "initatives" (project, programs, streams, ...) with some info online on these (or at least the most important or currrently active ones) so that i can share this with people (and they can share with others)

When coming across Life Itself I want to know what you've been up to and what areas you are currently working on s

[2021-12-01 09:30] theo-cox commented on #82
FIXED. We sent this. Stats here:
![image](https://user-images.githubusercontent.com/72795023/144208515-41435d00-7b9c-468f-bb71-e29aac587be1.png)
Note significant uptick in opens and clicks (both as a number and percentage) @rufuspollock whoop whoop!

[2021-12-01 09:30] #82 closed

[2021-12-01 14:04] rufuspollock opened #98 "Publish Bjorkman SCQH"
## Acceptance

* [x] SCQH finalized into publishable form
* [x] Published online in an appropriate location **Published on https://www.whatisemerging.com/articles/cultivating-and-emerging-paradigm (https://lifeitself.us/2022/02/01/cultivating-an-emerging-paradigm/)**

## Tasks

* [x] Finalize (esp hypothesis section) **DONE. See https://docs.google.com/document/d/18ilUmX8fDIcIhiGSrNBxiB0CkuKBx9Ttg

[2021-12-01 16:27] rufuspollock opened #99 "Find login for medium and add to password system"
Identify our medium profiles and how to login and log that in our password system.

## Acceptance

- [ ] Comms team (and others) can login to the account
- [ ] We have one and only one medium profile

## Tasks

- [ ] Identify existing associated accounts **✅2023-03-02 see list below**
- [ ] Get access to them
  - [x] @lifeitself **✅2023-03-02 and stored info in password system**
  - [ ] https://me

[2021-12-02 09:14] rufuspollock commented on #36
Finalized SCQH through question and done issue tree fully as of yesterday. Reviewed a bit with rest of team. next steps is to finalize spreadsheet version of issue tree and do hyp tree and plan first publication.

[2021-12-03 12:07] rufuspollock opened #100 "Life Itself Reading List"
We have a list in Zotero but a bit more focused on internal working practices and a bit randomish (e.g. santaroga barrier, really?)

Updating this and putting it on our website would be great.

[2021-12-05 19:10] rufuspollock opened #101 "[epic] Wiser Newsletter"
TODO: link background and idea.

## Inbox

Tips and tricks

* [ ] Irregular Interruptions - and the app on my phone

Key ideas

* [ ] Fundamental wellbeing (aka waking up) - moving off the end of the maslow spectrum

[2021-12-07 15:31] rufuspollock commented on #81
DUPLICATE #95

[2021-12-07 15:31] #81 closed

[2021-12-17 10:14] rufuspollock opened #107 "Community Gathering Spring 2022"
* Location: Bergerac Hub
* When: 15/16 March to 22/23 March 2022
* Cost: tbc

[2021-12-22 08:41] rufuspollock opened #109 "Write up Wilber integral psychology book and post"
## Acceptance

* [ ] Book notes on integral psychology are published online either in LI blog or community site

## Tasks

* [ ] Rough and ready: basic tidy up my notes
  * [ ] Extract the youtube comment (maybe post somewhere)
* [ ] Push that
* [ ] More tidying e.g. better headings, add a summary
  * [ ] Add a summary
* [ ] Extract all the images at the end about development pathways
0/3
  * [ ]

[2021-12-22 09:43] theo-cox opened #110 "[Epic] T1 Comms Drive"
## Description

We are aiming to supercharge our comms in 2022. This requires a bunch of actions to fulfill on our targets. Lets bang em out.

## Acceptance

- [ ]  All comms infrastructure up and running as required
- [ ] We have a full content plan for the year including resources
- [ ] Everyone is clear on what they need to do to support comms efforts

## Tasks

- [ ] T1 planning **Theo proposa

[2021-12-22 09:45] theo-cox commented on #110
@rufuspollock @lkavanagh30 @IljaMaiber These are the immediate actions from the comms plan which we need to push forward at the start of 2022. Please review (and then re-review in the new year)

[2021-12-22 10:53] theo-cox opened #111 "Documenting Sympoiesis 3"
We want great content out of the Sympoiesis 3 residency for our comms effort. See here for the full list: https://docs.google.com/document/d/1kquLdluAWUZ-DfJAdSTWQJZF15InKbR5PKtue_6JeSM/edit?usp=sharing

## Acceptance
- [x] List reviewed by @rufuspollock
- [ ]  @rufuspollock has discussed clarifications or blockers with @theo-cox and/or @nathenf
- [ ] Content captured, uploaded to shared drive and

[2021-12-22 10:54] theo-cox commented on #111
@rufuspollock given the start date of your residency please review the above list this week, in case we need to discuss anything pre-Xmas

[2021-12-22 20:32] rufuspollock commented on #110
@theo-cox this is great. For me, it would be easier to have a short dedicated session to review the high level goals and then let you guys decide how you want to implement.

Small comment on mailchimp as you specially asked: i don't think we have a large enough list to justify a/b testing (we won't get statistical significant i think at this point). I also (have long) wondered about switching to s

[2021-12-23 08:55] rufuspollock opened #112 "[inbox] Good first issues / for new joiners"
- [ ] convert newsletters into blog posts at life itself
  - [ ] Convert last newsletter(s) into posts on the blog
- [ ] Write tweet / instagram / facebook for https://lifeitself.us/2021/11/21/a-fall-update-from-the-berlin-hub/)
- [ ] Publish bibliography re quakers
- [ ] Publish bibliography re jains

[2021-12-23 09:33] theo-cox commented on #110
@rufuspollock happy with that. To be honest (summit aside, which Nathen and I can probably plan ourselves and then just come to you for your contacts as and when) I have put the calendar, excerpts and content curation as a group activity because I know it's something that won't get done unless I pin everyone down on a call to do it. If you have a more optimistic estimation or have an alternative a

[2021-12-23 11:46] rufuspollock commented on #110
I agree about having a call - especially to present the high level strategy.

On Thu, Dec 23, 2021 at 10:33 AM theo-cox ***@***.***> wrote:

[2021-12-24 20:43] rufuspollock opened #113 "Embed our bibliography (or sub bibliographies) in our site"
This thread on zotero forum shows how to do this: https://forums.zotero.org/discussion/16019/embed-zotero-bibliography-within-a-web-page

Can use the API:

[code]

We may want another format than bibtext e.g. json and custom render that. Should be some code out there that does this but haven't found it yet.

## Acceptance

* [ ] Embedded a sample bibliography e.g. integral biblio into a page on ou

[2021-12-29 11:20] Liyubov opened #114 "Add materials for studying communities life and communities spaces"
The key questions explored in this piece are:

* What does community life look like in Life itself?
* Can we replicate or encapsulate the experience lived by community members to be able to transmit best practices to other community hubs?

To answer these questions, we define and explore the entire phase space* of activities as well as spaces of living areas. It’s only by understanding the whole s

[2021-12-30 08:45] rufuspollock commented on #114
@Liyubov this is great and i think the draft already looks like it could become an initial blog piece.

[2021-12-30 14:08] rufuspollock commented on #54
@theo-cox any update here - this is important for the residency arrivals ...

[2022-01-03 10:41] theo-cox commented on #54
@rufuspollock if the postal confirmation form hasn't arrived to you at the Hub then we can't verify ownership and unilaterally change. I've suggested a change to maps as a non-owner now so hopefully that will be sufficient. If it's not I will attempt to phone them from France

[2022-01-03 15:37] rufuspollock commented on #54
When would this post have arrived at the "hub" (and which hub)?

[2022-01-03 22:43] Liyubov commented on #66
very nice...
actually it is interesting to see how many communities they are using and if there are more apps for actually offline-community managing, since https://lu.ma/ is more for online ones as well as mightynetworks...

[2022-01-04 15:00] theo-cox commented on #54
It should have arrived at the Bergerac Hub (townhouse) at some point during December. I have just reordered as it takes up to 5 days and I will be here for that time to receive it.

[2022-01-04 15:17] theo-cox commented on #54
In the interim. my request to change the address has gone through, so the address is now correct. Just waiting for them to update the photo to the new one I uploaded (as it still shows the farmhouse)

[2022-01-04 21:40] rufuspollock commented on #54
Great - and can we get the Thenac Hub Listed - maybe as Life Itself Thenac
or Life Itself Plum Village (?)

Rufus
--
t: +33 670852582 / +44 7795 176 976
Pragmatic Utopian - https://rufuspollock.com/
Co-Founder, Life Itself https://lifeitself.us/
Founder and President, Datopian https://datopian.com/
Shuttleworth and Ashoka Fellow
*My book The Open Revolution: rewriting the rules of the information

[2022-01-06 16:38] rufuspollock opened #116 "Review 2021: how did we do against plan, learnings etc"
When 2021 completes we want to review what happened against our 2021 plan so that we are we complete, we get insights, we can learn and adjust/improve  going into 2022

## Acceptance

* [ ] We have an internal written review of 2021
* [ ] Key points added to tao (public)
* [ ] Summary blog post

## Tasks

Prelim:

* [ ] Identify sources for 2021 planning (including OKRs etc) **Our plan was here ht

[2022-01-06 16:44] rufuspollock opened #117 "Plan for 2022"
When conducting our work (especially as a highly distributed, agile, small organization) we want an overall year plan 2022 so that we have a vision of what we are up to, what needs to be done by who, and how it fits together and connects to our broader vision/plan

## Acceptance

* [x] #121 **Chose circle => stream => project**
* [x] Draft plan prepared with key workstreams and OKRs **IN PROGRESS

[2022-01-06 16:46] rufuspollock commented on #117
We did quite a bit of work on this in Nov-Dec here: https://docs.google.com/document/d/1YFqmMPMJ4Dyx1P-yzOXWS_NODfQ6EjvRv388Ql1PMNY/edit#

[2022-01-06 21:39] #114 closed

[2022-01-08 17:12] rufuspollock opened #118 "[epic] Strategy Revision 2021 and Transition Plan"
State as of 8 Jan 2022: In #36 we worked on a new high level SCQH plus there is work in #98. An SCQH is basically a strategy so this is a new high level strategy.

We now need to do the following ...

## Acceptance

* [ ] New strategy (SCQH) published in tao
* [ ] New strategy (SCQH) published in a blog post
* [ ] Transition roadmap written and signed off

## Tasks

- [x] draft our new strategy -

[2022-01-09 12:11] rufuspollock opened #119 "Q1 2022 Plan"
## Acceptance

* [ ] We have a set of OKRs for Q1 2022
* [ ] We have a short written summary of purpose, principles and outcome visioning
* [ ] We have a short list of key tasks we will do

[2022-01-11 18:57] Liyubov commented on #89
Just a quick question regarding this folder on digital garden: https://github.com/life-itself/community/blob/main/projects/digital-garden-2022.md

In research folder I posted the information about some community analysis methods, which look at community at more theoretical level averaged over time period X.
Idea of research are [here ](https://github.com/life-itself/community/tree/main/research)

[2022-01-11 20:46] rufuspollock commented on #89
@Liyubov the digital garden is about creating infrastructure i.e. a community wiki/forum (aka digital garden) - not doing research itself.

[2022-01-12 15:35] rufuspollock opened #120 "First Issues for Catherine to try out"
When starting out I want some nice first issues to get started with that give me context, are interested and make a contribution

## Tasks

* [ ] Rufus generate a backlog
* [x] Proof edit (and review) Conscious Food Organization draft https://docs.google.com/document/d/1wbiMvrqTkqJuQ-X3kK3dEURNRE_337kNaqM77gFemlg/edit# **Done - asked Valerie to review comments and suggestions, and to add to/edit m

[2022-01-13 09:17] rufuspollock commented on #117
We did more work yesterday getting a (more) detailed workplan for the 2 main workstreams.

[2022-01-13 11:58] rufuspollock opened #121 "Nomenclature is clarified for pillar/program/product/project"
What do labels do we use for the different ‘types’ which comprise Life Itself’s work?

## Solution

DECISION: Circles => Streams => Projects

* Circle: Highest level coherent area of activity with own strategy, budget, roles etc with some degree of decision making autonomy. May even correspond to its own mini-org. Examples: Labs, Spaces, AETRE etc
* Stream: Ongoing area of activity within a circle

[2022-01-13 12:21] rufuspollock commented on #121
FIXED. See Solution above.

DECISION: Circles => Streams => Projects

* Circle: Highest level coherent area of activity with own strategy, budget, roles etc with some degree of decision making autonomy. May even correspond to its own mini-org. Examples: Labs, Spaces, AETRE etc
* Stream: Ongoing area of activity within a circle which: has a defined offer and associated standards, and encompasses a

[2022-01-13 12:21] #121 closed

[2022-01-13 22:04] Liyubov commented on #89
i see. it seems that community wiki/forum would be great material for research part actually to analyze/look at.
if there are any documents (wikis) which try to document them, indeed i would put them into research folder as examples to analyse community (as discussed in closed issue #115 )

[2022-01-14 16:21] catherinet1 commented on #120
I reviewed conscious food org doc and asked Valerie to review comments/suggestions

[2022-01-16 22:44] Liyubov commented on #120
Hey, I also reviewed it, as we discussed it with Valerie and added some references. Hope it was not too late to add some material there.

[2022-01-17 15:28] rufuspollock opened #123 "Introduction to Integral Theory"
Write a short overview / introduction to Integral Theory and Ken Wilber.

[2022-01-17 15:29] rufuspollock commented on #120
@Liyubov that's great.

[2022-01-18 10:57] rufuspollock opened #124 "Collecting Key Thought Pieces that are worth (re)sharing"
We want to collect all the key thought pieces and articles that Life Itself et al has created so that we can highlight them on the website #170 and reshare them more widely with our audience.

## Acceptance

- [ ] Key articles, etc compiled in one place ✅  **Good number of articles now ready [Website update spreadsheet](https://docs.google.com/spreadsheets/d/13RVMrZ02Rw6a1BtftIUO4v7R7rXt5_phQLR4rH

[2022-01-21 09:28] theo-cox commented on #98
Update: awaiting final review by @rufuspollock and Anna at Emerge then we are good to go live

[2022-01-22 13:35] Liyubov commented on #111
Hey,
I was wondering if there is anyone, who is documenting (qualitatively), how people are using the space during different Sympoiesis #1,2,3?

Materials collected on space-community for Sympoeiesis#2 are on the page of research of life itself folder here https://github.com/life-itself/community/tree/main/research
and I collect some comments and documents in google doc here (welcome any comments)

[2022-01-25 15:25] rufuspollock opened #125 "Merge sutras into this repo"
Situation: have sutras ("curated wisdom teachings") repo https://github.com/life-itself/sutras and site https://sutras.lifeitself.us

Complication: currently separate repo from here with its own site and we think "monorepo" approach (i.e. all here in this repo) is the way to go atm (and only split later) because:  it is simpler (KISS), better for SEO (one site to start with), better for attention/

[2022-01-25 15:27] rufuspollock commented on #125
@Liyubov are you interested in this perchance? 😄

[2022-01-25 22:50] Liyubov commented on #125
So let me ask, since I am not really sure: in tasks it says:

- [ ] Review sutras repo and decide what needs to be done (MVP to migrate)

For me it is hard to say how it should be merged with any repos in community-repo. This is the question in fact @rufuspollock ?

[2022-01-26 05:38] nathenf opened #179 "Getting Life Itself On Podcasts"

[2022-01-26 05:53] nathenf opened #178 "Blog and Publication Features"

[2022-01-26 13:24] rufuspollock commented on #111
@theo-cox I am happy to leave this to you Nathen and Julie. If you do want my input could it be a succinct summary of questions for me?

[2022-01-26 14:58] theo-cox commented on #111
@Liyubov no, although that looks like amazing work! Would it be ok if you picked up with @nathenf around the possibility of us sharing it more broadly through out channels?

@juliedayot could you look into briefly documenting how space is used during Sympoiesis 3 as per the above

[2022-01-29 08:15] rufuspollock commented on #125
@Liyubov the idea would be to take a look through that repo and the content in it and propose how to merge here. All the content is here: https://github.com/life-itself/sutras/tree/main/content/sutras so that would be the main thing to merge over I think.

The next question would be how to create a space on this site for that.

Also feel free to focus on other issues - this was just a suggestion.

[2022-01-29 23:42] rufuspollock commented on #120
FIXED. This is now done / obsolete.

[2022-01-29 23:42] #120 closed

[2022-01-29 23:52] rufuspollock opened #126 "Migrate primers into normal structure"
Currently have a bunch of old stuff in the primers folder

Primer stuff could just become notes e.g. in `/abc/`.

## Acceptance

* [ ] `/primers/` folder no longer exists and all content migrated into other parts of the repo

## Tasks

* [ ] Assess primers folder for what we want to manage / migrate (e.g. i think the main primer pdf ArtEarthTechPrimers.pdf can go away etc)
  * [ ] Also good to che

[2022-01-30 20:19] Liyubov commented on #125
Ok if I understood well one can:

1. merge sutras [folder ](https://github.com/life-itself/sutras/tree/main/content/sutras )to the folder of life-itself community here https://github.com/life-itself/community
2. merge or link it with other existing subfolders of community (but here I cannot help since I was not the one who created them so I would need to talk to anyone of you first)

If it is 1.,

[2022-01-31 14:05] rufuspollock commented on #117
Draft Plan is now 90% done. All that remains there is to add key results and migrate to spreadsheet. After that team meeting.

- [ ] tidy, transfer relevant content to spreadsheet and leave space for addition (e.g. revised OKRs) @theo-cox
- [ ] schedule all team meeting, discuss with team, cocreate OKRs @theo-cox

[2022-02-03 09:25] theo-cox commented on #123
See here for notes on one of the major books: https://lifeitself.us/2019/01/22/ken-wilber-integral-spirituality/

[2022-02-03 09:32] theo-cox opened #127 "Evidencing the Life Itself SCQH"
When I'm referring to or publishing the [SCQH](https://docs.google.com/document/d/1I4Dp4QICqXYNT2lGZqlTMAulX9V8moN8P06eFfFuALk/edit#heading=h.n831sqikju93) as the reason for our existence, I want to be able to rigorously evidence the key claims made.

_NB we want a balance between rigour and time here i.e. "proper" respectable evidence but not an analysis of the entire evidence base for each claim

[2022-02-03 09:55] theo-cox opened #128 "Summary essays of key traditions/movements/philosophies in the metamodern ecosystem"
This tab has a list of key traditions in the ecosystem: https://docs.google.com/spreadsheets/d/1sotA3Cm79B1te4ooMQvPk6OHdaxZwnDB2VRLtfQAuRE/edit#gid=1105141571

When I'm promoting the ecosystem mapping project I want to have useful content to boost the utility of the site and get people interested so that we get more engagement around the project as a whole.

These summaries should be max 5 pages

[2022-02-03 09:56] theo-cox commented on #128
@juliedayot can you link the ones you've already done please?

[2022-02-03 10:11] theo-cox commented on #128
Ignore, found it

[2022-02-03 21:11] rufuspollock commented on #123
@theo-cox and i have a bunch more notes on specific books that I can post (just writing some of them up into blog posts on specific books might be useful)

I also recommend a trawl of https://integrallife.com

[2022-02-03 21:33] rufuspollock commented on #110
@theo-cox flagging that i think this should include the strategy which i know we have a doc for.

And adding that as per comment in that doc:  I imagine we want some kind of meeting to feel this is really "signed off" e.g. I imagine it would be good to really link this to the overall goals of other circles and have some conception of how the strategy relates to the overall engagement pathway for p

[2022-02-03 22:01] rufuspollock commented on #107
@theo-cox overall issue for gathering above plus some more on project planning and drafting in https://docs.google.com/document/d/1f3s01UQIXTsgADLsBSgWhpgXi9Ml3C2UmpBdFXEKfjU/edit#

[2022-02-04 02:30] nathenf commented on #110
@rufuspollock I added links to key documents in this issue.

[2022-02-07 09:09] theo-cox commented on #107
@EilidhRoss1 can you please write up the blog and create the Ti.to? Thanks

[2022-02-08 10:53] theo-cox commented on #123
@rufuspollock can you share the notes? This will be good to add to a content backlog

[2022-02-09 11:32] EilidhRoss1 commented on #107
@theo-cox Gathering blog and ti.to update:
[Draft blog](https://lifeitself.us/wp-admin/post.php?post=5963&action=edit). Let me know if anything needs added/changed.
The Tito is all set up with 4 ticket options - 3 night shared, 3 night own, 6 night shared, 6 night own (as it stands 4 tickets available for each ticket-type). Let me know if anything needs editing, then I can put the event page live.

[2022-02-15 10:14] EilidhRoss1 opened #131 "Add Insight, Interbeing and Science Residency to the Residencies tab"
The Insight, Interbeing and Science Residency has been announced as a [blog](https://lifeitself.us/2022/02/07/insight-interbeing-and-science-may-2022/) but isn't under the Residencies tab on the website.

### Acceptance

- [ ] Create page on the website for the Insight, Interbeing and Science Residency.
- [ ] Add page to the [Residency tab](https://lifeitself.us/sympoiesis/)

[2022-02-15 10:17] EilidhRoss1 commented on #131
@lkavanagh30 @rufuspollock could one of you please look at this.

[2022-02-15 13:41] rufuspollock commented on #131
@EilidhRoss1 I didn't think i was involved in this residency so I imagine this falls to @lkavanagh30

Liam are you happy to take this on?

[2022-02-15 15:36] rufuspollock opened #132 "Publish Untitled issue tree material (Big Vision issue tree) from Autumn 2020"
With Roope and others at Demos Helsinki we co-created a narrative for the Untitled project in Autumn 2020 using the SCQA methodology. We mean to publish this as the time but didn't get to. Would like to back-publish this so referenceable.

NB this SCQA was v similar to Life Itself's general "Big Vision / Transforming the narrative" SCQA.

[code]

[2022-02-16 15:21] rufuspollock commented on #98
@theo-cox has this got x-published to Life Itself now? If not, can we back-publish to same date asap. Then we can close this 😄

[2022-02-16 15:33] rufuspollock commented on #107
@EilidhRoss1 great work 👏 Page is up now here I think https://lifeitself.us/2022/02/09/community-gathering-sprint-march-2022/

Can you update the main issue description as well as comment as it helps me see where we are at (see instructions on https://tao.lifeitself.us/issues/)

Minor suggestions (all are minor and could be ignored):

* Summary bullet list at the top like on other events e.g. key

[2022-02-17 08:25] EilidhRoss1 commented on #107
Blog with Gathering details has been published on the website. Still to be shared on socials I think @nathenf. Tickets are up and running and link to tickets is on the blog post. Issue with date on ticket site has been fixed. Will add summary bullet list at the top now.

[2022-02-17 09:16] theo-cox commented on #98
Yes - https://lifeitself.us/2022/02/01/cultivating-an-emerging-paradigm/

[2022-02-17 09:16] theo-cox commented on #98
FIXED. We cross-posted: https://lifeitself.us/2022/02/01/cultivating-an-emerging-paradigm/

[2022-02-17 09:16] #98 closed

[2022-02-21 08:14] rufuspollock commented on #123
@theo-cox done - just pushed in commit into the books subdirectory https://github.com/life-itself/community/commit/62b32b733fb956f832529fa9d7500bf9bb3083ae

[2022-02-28 09:24] rufuspollock opened #133 "Briefing re using Obsidian"
Obsidian is becoming our tool of choice for editing markdown files and especially markdown wikis - which we use in several initiatives such as web3, ecosystem and this repo.

## Acceptance

* [ ] Document exists with brief intro plus
  * [ ] links to longer intro/background
  * [ ] tutorial(s)
* [ ] Recorded 10-30m session walkthrough

## Tasks

- [ ] Why => you want to edit markdown. Plus you wan

[2022-03-07 16:26] rufuspollock opened #134 "Gathering March 2022 (Spring) - Delivery"
## Acceptance

- [x] We have a fun and fruitful and well organised gathering

## Tasks

**Programme/frame**
- [ ] Create schedule on paper and put it upon wall with post-its for suggested activities to add to the schedule

**Logistics**
- [x] Email participants with key info and update + to ask for arrival/departure details, dietary requirements, and phone number N.B. you can do this through Tito)

[2022-03-23 08:48] catherinet1 opened #135 "Gatherings 2022 planning"
### Tasks

- [ ] schedule next 2 gatherings
  - [X] Propose dates and check with team **Proposed 28/5-4/6 for sprint; 5/7-12/7 for summer community gathering**
- [ ] Create Tito page for next gatherings
- [ ] Update old sprint page? https://lifeitself.us/sprints/#hfaq-post-3752
- [x] Update old gathering page https://lifeitself.us/gathering/. **Updated to say dates tbc for summer 2022**
  - [ ] ed

[2022-03-24 05:27] nathenf opened #162 "[epic] Life Itself Branding and Style Major Revision 2022"
To update brand (narrative) and associated design guidelines and have these published and known by all relevant stakeholders.

**Resources**
- [Brand 2022 A10](https://docs.google.com/document/d/1edZUkd3O3nxIBCeX8xb-Yvra3Q_xmStunNYHwarKogA/edit#heading=h.9jh0gkl15o07)
- [High Level Mission Statements Excalidraw](https://excalidraw.com/#room=e46b905c3d5981cb6275,sTqBvg1Gdf8UySMibsdiDw)
- [Issue Tre

[2022-03-24 07:48] nathenf opened #177 "Optimizing Linked In"

[2022-03-25 10:18] rufuspollock opened #136 "[draft] Evaluation of current website platform and alternatives"
## Notes

### Evaluation of current Wordpress Site

Lighthouse score is

![image](https://user-images.githubusercontent.com/180658/160101930-169505a2-b75f-4ba6-a08b-9c9eaacfa63b.png)

[lifeitself.us - lighthouse report - 2022-03-25.pdf](https://github.com/life-itself/community/files/8349467/lifeitself.us.-.lighthouse.report.-.2022-03-25.pdf)

[2022-03-28 08:56] #131 closed

[2022-03-28 08:57] EilidhRoss1 commented on #131
Page on the website has been created for the Insight, Interbeing and Science Residency. The page has been added to the Residency tab

[2022-03-30 13:36] nathenf opened #176 "Monthly Newsletter Update"
##Acceptance

- [ ] Email sent

##To Include

- Upcoming Residencies
- Mapping Metamodern Update
- Latest Media
- Features
- Updates from Residencies
- Berlin Update

Email eilidh@lifeitself.org if you wish to have anything included in the next newsletter.

[2022-04-15 14:13] rufuspollock opened #265 "Design System for Web for Life Itself Labs (and Life Itself)"
## What's this about ?

The Life Itself projects are gradually growing, as a result of which it is proving difficult to maintain a standard design structure that co relates with all the new and existing projects. Moreover, we have to rethink from scratch about the core design factors to be used when creating newly related projects. This not only consumes a lot of time and effort on all teams invol

[2022-04-15 14:16] rufuspollock opened #138 "Create assets repo and assets.lifeitself.org for hosting common image and static assets"
Create an assets repo with core brand assets like logo and deploy it in a reusable location e.g. assets.lifeitself.org

Project page: https://github.com/life-itself/community/blob/main/projects/assets-repo-v1-2022.md

## Acceptance

* [x] assets repo exists in life-itself **✅2022-04-29 https://github.com/life-itself/assets**
* [x] assets.lifeitself.org builds from that on e.g. cloudflare **✅2022-0

[2022-04-22 08:45] rufuspollock commented on #134
@catherinet1 do you want to close this one - now it is done.

[2022-04-22 08:48] catherinet1 commented on #134
FIXED. We held the Spring Gathering 17-23 March 2022.

[2022-04-22 08:48] #134 closed

[2022-04-22 19:39] rufuspollock commented on #134
@catherinet1 did we write a blog post at the end of the gathering? Ditto on the other comms task. Either way can we update the task list as per https://tao.lifeitself.us/issues/#completing-tasks 🙂🙏

[2022-04-23 13:05] catherinet1 commented on #134
Hello @EilidhRoss1 was just looking for photos from the gathering for one to perhaps accompany my newsletter contribution. Are the photos and videos etc. from the Gathering on the Drive somewhere? Please could you upload them to this folder - https://drive.google.com/drive/folders/1jiEJrgysZLtKKN6_spys33HRunIMeRJa - or let me know where they are so I can move them over? Thanks : )

[2022-04-23 14:56] rufuspollock opened #137 "Switch to lifeitself.org from lifeitself.us"
We have now (2022-04-06) registered lifeitself.org (finally available yay!).

Wanted to switch from lifeitself.us as has "US" connotations and the "us" part does not come across.

## Acceptance

* [ ] lifeitself.us => lifeitself.org
	* [ ] website
	* [ ] email and google app
	* [ ] redirect from lifeitself.us
* [ ] labs.lifeitself.us => lifeitself.org
* [ ] web3.us => web3.org
* [ ] ecosystem.us =

[2022-04-25 08:18] EilidhRoss1 commented on #134
@catherinet1 done https://drive.google.com/drive/folders/1-3YQwNU_zQdSe0v5YAEqDYqO-5YLl_UO?usp=sharing

[2022-04-25 08:27] catherinet1 commented on #134
awesome, thanks, @EilidhRoss1 ! beautiful photos! :)

[2022-04-25 09:12] catherinet1 commented on #134
Comms and Evaluation/feedback tasks updated = all tasks updated.

[2022-05-05 10:40] theo-cox opened #139 "Codifying our Governance Structure"
When I work at Life Itself I want a clear way to understand what my roles and accountabilities are, what I can expect of others, how decisions get made and who can make them.

When I work at Life Itself I want a clear understanding of what our commitment to being a Teal org means in the day to day so that I can show up in the best way possible in this context.

## Acceptance

- [ ] First set of ro

[2022-05-09 09:50] theo-cox opened #142 "One pager for Life Itself's competencies, experience and offers"
When I'm pitching for consultancy work, I want to be able to quickly show potential clients who we are, what we've done and what we can do for them so that I can win relevant work.

## Acceptance

- [ ] One pager finalised

[2022-06-10 14:24] EilidhRoss1 opened #145 "Life Itself slow loading"
**Situation:** Life Itself site is taking very long to load. It is off-putting for users and inconvenient for LI members wanting to use the site.

**Question:** What is the problem and how do we fix it?

**Hypothesis:** @khalilcodes: "This happens due to a few factors such as hosting service and WordPress overall."

## Acceptance

- [ ] Improve website loading times / page speed (*for end users an

[2022-06-22 19:48] rufuspollock opened #146 "[epic] Annual Gathering 2022"
The annual gathering is a chance to explore and engage. It's a particular focus to get to know others and widen the “fellowship for a radically wiser, weller world”.

## Tasks

Content

* [ ] outline
* [x] web page
* [x] update /gathering/ with content of blog post so they are in sync @catherinet1
  * [ ] Bonus: find a nice short video from past gatherings
  * [x] Archive current gathering page to

[2022-06-22 20:27] catherinet1 commented on #146
updated Tito task

[2022-06-23 18:32] catherinet1 commented on #146
Updated payment info email task

[2022-06-27 12:38] catherinet1 commented on #128
Hi @EilidhRoss1, we are cleaning up ecosystem-related issues. Please could you update this issue? e.g. are we still doing this/is this still in progress? (maybe not and then close) Let me know if you have any qs.

[2022-06-27 15:05] EilidhRoss1 commented on #128
I think @theo-cox and I agreed to pause this issue for the moment. So am happy for this issue to be closed and can reopen if we decide to loop back to it.

[2022-07-06 09:57] rufuspollock opened #148 "Design and share questionnaire to gauge needs re curated content"
When creating curated content I want to understand potential audience views and needs so that we can speak to that (and understand if this is useful) e.g.

* What things are not working e.g. climate crisis, political system
  * Why are they not working? Eg. seeing the interconnectedness?
* Of these X things what would be most useful to you
  * A careers guide
  * A guide to coliving
  * ...

**Key

[2022-07-06 12:36] rufuspollock opened #149 "[epic] Life Itself Website Revision - Summer 2022"
**Job Story**

When people come to our website they want to be able to easily navigate to our most recent work and initiatives. They want to be taken on a journey which encourages them to explore the whole website or at least find a number of things that they are interested in. From the homepage they should instantly get a feel for what Life Itself is and what it can offer. They also want to easil

[2022-07-07 07:46] rufuspollock opened #150 "[epic] Wiser Initiative - pathways to a wiser, weller world"
**Key Documents**
[Wiser 2022 A10](https://docs.google.com/document/d/1X9NebAIhxtQMIa4dYcD7KO3BWcMg9AfSs_lKyputA0k/edit#)
[Wiser Job Stories](https://docs.google.com/document/d/1NcuslX2GEFzBPmS1X4_VfhHCKp9tRRD6GI_ezoOfWL4/edit)
[Wiser SCQH](https://docs.google.com/document/d/1YZqeHYvAtJcQdIJqYWShpMzjQd09XeB1bivHm4c-KTI/edit#heading=h.wdicmfuaa0oh)

## Acceptance

* [X] PA10 for the initiative - se

[2022-07-09 21:24] rufuspollock commented on #148
@nathenf i've done a first review and left a substantive commentary at top re direction. Once that's synced we can focus on questions.

[2022-07-10 03:14] nathenf commented on #148
@rufuspollock I've gone through your inputs, thanks very much for that. There are a few replies.

[2022-07-12 03:19] nathenf commented on #149
@rufuspollock @EilidhRoss1 I've made a document and made a first pass on website structure and copy, would appreciate feedback before moving forward to image and design style. [Doc is here.](https://docs.google.com/document/d/1y_CG4rdWO7IvCEsMux9lVRO_ko_BTHWAZetTe9-CD9I/edit#)

[2022-07-12 12:45] EilidhRoss1 commented on #149
Have gone through the doc Nathen, I think it's really really great - very clearly set out and effectively conveys what we are wanting to do. Have left a couple of comments but all small things.

[2022-07-12 13:42] nathenf opened #152 "Wiser 2022 - Content Curation Set-Up"
I want a place to store and find key readings from different areas of social transformation, so that I can use them in guides or create reading lists for the guides.

## Acceptance

- [ ] Content curation system set-up
- [ ] Organization is clear and easy for us to use

##Tasks

- [ ] Set-up Zotero
   - [ ] Make lists for each area of social transformation

[2022-07-14 06:00] rufuspollock commented on #149
@nathenf great work Nathen. Doc is thorough and excellent start. Will add comments there.

[2022-07-30 08:22] Liyubov commented on #114
The update on communities studies:
Penny and colleague of hers from Coliving Summit proposed to coorganise the small research group, information about which can be disseminated and hosted by coliv, life itself. The main topic of the group is investigation of coliving spaces at different scales: from 1 flat scale to the scale of 1 eco village. More details will come soon.

[2022-08-08 17:39] rufuspollock opened #153 "Look into if we can x-post (or merge) Life Itself hubcasts with main podcasts"
I want to merge the old podcast with the new podcast for consistency and back history

## Context

Came across the (old) hubcase when searching for "life itself podcast": https://podcasts.apple.com/us/podcast/the-life-itself-hubcast/id1548190164?uo=4

here's the "official" podcast:

https://podcasts.apple.com/ie/podcast/the-life-itself-podcast/id1618247766

## Acceptance

- [ ] Life Itself Hubcast

[2022-08-24 13:10] rufuspollock commented on #153
@EilidhRoss1 flagging FYI 👆

[2022-08-29 07:48] rufuspollock opened #156 "Conscious Parenting Pilot Material"
First interview / webinar material for pilot series / seminar on conscious parenting

Part of #94

## Acceptance

- [x] Published first series of interviews / tutorials to youtube / podcast **✅2023-03-04 see 3 podcasts linked on https://lifeitself.org/projects/conscious-parenting**
- [x] Conscious Parenting project / page on site e.g. at `/consious-parenting/` or `/projects/conscious-parenting/` ✅

[2022-09-01 11:14] rufuspollock opened #157 "Process inbox of material against issue tree etc"
We have a bunch of existing material which may or may not be relevant to some part of wiser. Want to process so useful part is used *and* that those documents are "done" and can be obsoleted!

## Acceptance

For each item

* [x]  Relevant material is integrated to new items in issue tree **✅2022-09-01 see below**
* [x] Material is mark as deprecated (e.g. doc is marked as deprecated or sections st

[2022-09-01 11:43] rufuspollock commented on #157
FIXED. All done with items added to issue tree etc /cc @nathenf

[2022-09-01 11:43] #157 closed

[2022-09-03 21:10] bilalshaikh292 commented on #92
heyy,
@rufuspollock is the issue still open ?can i work on the issue?

[2022-09-03 21:12] bilalshaikh292 commented on #112
heyy @rufuspollock can i work on this issue?

[2022-09-04 06:59] rufuspollock commented on #112
@bilalshaikh292 welcome! First, would you like to quickly intro yourself in https://github.com/life-itself/community/discussions/categories/introductions

And what item here are you interested in working on so we can help you get started.

[2022-09-04 07:02] rufuspollock commented on #92
@bilalshaikh292 yes you can still work on this.

[2022-09-04 07:42] bilalshaikh292 commented on #92
@rufuspollock i cant get the access to drive and also can you provide me a little help?

[2022-09-07 13:33] rufuspollock opened #160 "Can orgs be sound *and* successful?"
**Can orgs be sound *and* successful?**: Is it really possible to have organizations that are for-profit, with shared ownership, a true purpose (other than making money) ... and still be successful and scalable and what does that exactly look like in terms of the details of ownership, governance and culture?

Alternative titles:

- How to cooperate
- Can orgs be sound *and* successful?
- Why reinv

[2022-09-09 13:04] #265 closed

[2022-09-11 21:06] bilalshaikh292 commented on #92
heyy @rufuspollock i still cant access the drive?

[2022-09-13 08:50] rufuspollock commented on #92
@bilalshaikh292 did you see my comment here https://github.com/life-itself/community/issues/112#issuecomment-1236273848 - i'm suggesting you work on something else for now.

[2022-09-14 15:58] rufuspollock commented on #146
WONTFIX. In the end we had a more informal gathering.

[2022-09-14 15:58] #146 closed

[2022-09-22 15:38] sahilm-10 commented on #112
Hey @rufuspollock Can you assign this to me if it's pending? I am new to Open-Source and would love to contribute under your guidance.

[2022-09-23 16:27] rufuspollock commented on #112
@sahilm-10 a better place to contribute if you are a coder is on our sister project https://github.com/flowershow/flowershow and specifically https://github.com/flowershow/flowershow/issues?q=is%3Aissue+sort%3Aupdated-desc+label%3A"good+first+issue"+

[2022-09-28 10:12] theo-cox commented on #160
Brainstorm of preliminary theoretical problems completed, along with draft opening of our toy example. See: https://docs.google.com/document/d/1faAgWSQ2T8TRArwhMQmbdtWt5jwYWg5aBhrXlh0FORo/edit?usp=sharing

[2022-10-03 17:05] danschenker commented on #112
Hey @rufuspollock, I'm happy to convert some newsletters into blog posts if you still need a hand.

[2022-10-04 09:17] rufuspollock commented on #112
@danschenker that would be great! To start you could look at our blog and see if you can identify the newsletters *we have posted* and list them here.

[2022-10-04 09:34] danschenker commented on #112
You have three so far. https://lifeitself.org/category/newsletter/

[2022-10-04 16:17] rufuspollock commented on #112
@danschenker we have many, many more that we would need to post (there may also be some not rightly categorized).

[2022-10-04 17:15] danschenker commented on #112
Gotcha. I'll be opting out of this project, but best of luck!

[2022-10-04 18:59] rufuspollock commented on #112
@danschenker thanks for dropping by!

[2022-10-07 13:36] EilidhRoss1 opened #165 "Review call with La Matrice"
I spoke with Pierre-Alexandre Klein from La Matrice last month. He was super nice, very interested in and excited about the work we're doing and really keen to see how La Matrice can connect with/ work with Life Itself.

I've written up a [brief](https://docs.google.com/document/d/1mnU2vLpIM9yH2vHNEHYMktvdASd9jwtdSwl5mJtFAN4/edit#) from the call. It's 6 pages, with a **2 page summary** that would

[2022-10-09 19:56] rufuspollock commented on #165
@EilidhRoss1 i'd read the (excellent) summary before. Just left comments. Overall they sound great ... and i don't have a very specific sense of the tangible overlap atm. (though i wasn't on the call).

[2022-10-11 05:35] rufuspollock commented on #165
@EilidhRoss1 further reflections: to follow up, normally one thing i look to if there is a significant opportunity for alignment or collaboration is to start working on an SCQH with the potential collaborator. This often proves valuable in itself and also gives a much clearer sense of collaboration. This is a significant time commitment e.g. 2-4h usually.

[2022-10-13 11:57] EilidhRoss1 commented on #165
@rufuspollock Thanks for your comments. I'm going to propose that once wiser is more underway and we've got a better idea of our direction, offerings and budget we can perhaps budget in a certain amount of time for collaborating/connecting with other orgs. I will get in touch with Pierre-Alexandre and let him know that we currently don't have the bandwidth but that we hope to connect in the future

[2022-10-17 07:05] nathenf opened #166 "Wiser Newsletter"
**TODO: brief overview and description**

* [Wiser Newsletter A10](https://docs.google.com/document/d/12GLL3ljWZem1zXBec_na_vRlAoRhiu-dLAcQHGoMlK4/edit#)
* [Newsletter Issue Tree](https://docs.google.com/spreadsheets/d/1-lJq5mG8a3rI7SmXYkEhA9OZMrTGKLBmOL8yj4gPXDc/edit#gid=884760664)

## Acceptance

- [x] A10 for Newsletter ✅ **[A10 is complete](https://docs.google.com/document/d/12GLL3ljWZem1zXBec

[2022-10-17 13:49] rufuspollock commented on #165
@EilidhRoss1 that sounds good - the one other things would be to say we'd be happy to add them to our developing database of transformative spaces and organizations.

[2022-10-20 11:16] EilidhRoss1 commented on #165
FIXED Have replied to Pierre-Alexandre Klein and have added La Matrice to map

[2022-10-20 11:16] #165 closed

[2022-10-21 19:32] rufuspollock opened #167 "Migration of ecosystem.lifeitself.org to lifeitself.org"
Context: https://github.com/life-itself/community/blob/main/projects/digital-garden-2022.md

Goal: ecosystem site part of lifeitself.org

Requires: lifeitself.org (at least in part) running off a nextjs site - probably booted off flowershow (in long run whole of site)

2 parts:

1. Preliminary: setup basic nextjs infrastructure for lifeitself.org site going forward
1. ecosystem.lifeitself.org migr

[2022-10-26 06:53] rufuspollock commented on #167
@khalilcodes have site deployment now working at https://next.lifeitself.org via netlify

[2022-10-28 11:06] khalilcodes commented on #167
@rufuspollock @olayway

Current progress on ecosystem migration - https://github.com/life-itself/community/tree/ecosystem-migration

- [x] ecosystem content in root folder symlinked to site - `site/ecosystem --> site/content/ecosystem`
- [x] ecosystem components working by moving to `flowershow/components/ecosystem`
- [x] page working @ `/ecosystem`

Unfortunately the ecosystem component imports w

[2022-10-29 15:34] rufuspollock commented on #167
@khalilcodes thanks for the excellent update. Quick comments:

- `ecosystem` folder should be in root of repo rather than site i think inline with other folders we have (site is pretty much empty).

This is an interesting point - in most flowershow installations we won't have the content folder inside the flowershow folder ...

[2022-10-29 20:21] rufuspollock opened #170 "[epic] Life Itself new integrated website 2022"
We are doing a major update of the Life Itself website to. It consists of several interlocking parts:

- Tech upgrade: switch from Wordpress to Flowershow both to provide a better (faster) experience, to allow for easier contribution and to set us up to add new features going forward (e.g. digital garden)
- Content consolidate: consolidate and refactor bringing together content from various sites

[2022-10-29 20:27] rufuspollock opened #171 "Digital Notebook v0.1 live on site"
Take our existing notes etc and consolidate and get up on site. Also do this in way that prepares for integration of more content.

❗ we are going to use our obsidian vault to edit the whole site i think, not just the notebook so we are going to set up a vault that includes the notebook but is not limited to it ... (see discussion below in analysis).

## Acceptance

- [x] Repo is "clean" with only

[2022-10-29 20:34] rufuspollock opened #172 "Skeleton of new life itself site powered by flowershow"
lifeitself.org (at least in part) running off a nextjs site - probably booted off flowershow (in long run whole of site)

Preliminary: setup basic nextjs infrastructure for lifeitself.org site going forward

## Acceptance

- [x] next.lifeitself.org live running off flowershow **✅2022-10-23 it's work see https://next.lifeitself.org/**

![image](https://user-images.githubusercontent.com/180658/19887

[2022-10-30 07:42] nathenf commented on #153
@EilidhRoss1 we could back publish the hubcast episodes on the Life Itself Podcast and then close/redirect the old podcast. I think in total we could create 3-4 episodes, merging what was previously chapters into the full interview.

[2022-10-30 08:04] nathenf commented on #101
MERGED with #166

[2022-10-30 08:04] #101 closed

[2022-10-30 09:05] rufuspollock commented on #172
FIXED. https://next.lifeitself.org

![image](https://user-images.githubusercontent.com/180658/198870774-9ab32afc-9f0a-4809-81cd-0d90d3347bb7.png)

[2022-10-30 09:05] #172 closed

[2022-10-30 20:41] rufuspollock opened #173 "Process primers into notebook"
S: primers are result of very first research efforts in autumn 2016. They contain an intro with summary of our early research effort (starting autumn 2016) plus the first "primers" we wrote (primers = short topic summaries on areas of interest). cf #96

C: this material should now be somewhere else e.g. integrated into notebook. Plus some of it was posted (which stuff?)

H: migrate material into n

[2022-10-30 22:33] rufuspollock commented on #171
FIXED. All done. Primer stuff in #173

[2022-10-30 22:33] #171 closed

[2022-10-30 22:38] rufuspollock commented on #173
All of the core work is done. However, in the process have found a lot of things to fix / improve (especially in comparing primers as produced with what was in source gdocs)

[2022-10-31 12:09] khalilcodes commented on #167
@rufuspollock @olayway PR is up at #174

[2022-10-31 12:22] olayway commented on #167
@khalilcodes I think you can assign me as a reviewer

[2022-11-02 13:37] rufuspollock opened #181 "Theme and front page for next.lifeitself.org"
Current default theme of flowershow is not so suited to life itself. We want to revise it.

As well as being important for life itself this is also a chance to learn about how to do theming cleanly for a flowershow based site (and write that up).

## Acceptance

- [ ] "light" theme similar to current site (but need not be identical as probably about to revise look and feel)
  - [x] default to ligh

[2022-11-02 13:37] rufuspollock opened #182 "Integrate tao into main site at lifeitself.org/tao (migrate from tao.lifeitself.org)"
move contents of tao.lifeitself.org (https://github.com/life-itself/tao) to lifeitself.org/tao (i.e. vault/tao in this repo)

Why? See LifeItself.org migration A10

## Acceptance

- [x] (next.)lifeitself.org/tao is live with home page **✅2022-12-11 see https://next.lifeitself.org/tao**
- [x] All content is migrated to relevant location (or deleted) **✅2022-12-21 everything in spreadsheet processed

[2022-11-02 13:57] rufuspollock commented on #153
@nathenf @EilidhRoss1 you'd need to get in touch with Sen from the Berlin Hub (you probably already have her contacts).

[2022-11-04 12:28] #167 closed

[2022-11-04 12:37] rufuspollock commented on #167
FIXED. All done. See 594422d31ed33c11698ff1d0c01ff24b613aee82

[2022-11-04 12:40] rufuspollock opened #183 "Migration of ecosystem.lifeitself.org to lifeitself.org II"
Following on from #167 which did basic content migration.

- [ ] How do we want ecosystem to integrate into the main site - is it a separate mini-section or more central. e.g. do we connect with notebook entries on particular orgs. e.g. when writing notes about an org do we put it in ecosystem or in notebook? TODO: write some job stories here
- [ ] what do we do with current content at lifeitself.

[2022-11-05 08:55] rufuspollock commented on #176
@nathenf is this an issue or more documentation for how we do the newsletter? If the latter maybe we move to tao or discussions?

[2022-11-05 08:57] rufuspollock commented on #178
@nathenf excellent first issue i think.

[2022-11-05 10:23] nathenf commented on #176
@rufuspollock perhaps this could be turned into a documentation and added to tao. Maybe a good first exercise for me to use Obsidian etc

[2022-11-05 10:57] nathenf commented on #166
Have decided on Beehiiv for the email platform as seems most useful and also free up to 2500 subscribers. Its a relatively new company but product updates are coming thick and fast

[2022-11-05 14:32] rufuspollock opened #184 "Migrate content from current lifeitself.org (wordpress) to new setup (Nov 2022)"
Migrate content from current lifeitself.org (wordpress) to new setup.

## Acceptance

All content from existing wordpress instance is migrated

- [x] identified what content should be refactored e.g. deleted / turned into blog posts before migration **✅ this has been completed ready for go live, further refactoring will be carried out in phase 2 with #223**
- [X] All blog posts are at `/blog/yyyy/

[2022-11-05 14:40] rufuspollock commented on #181
@khalilcodes we only need to start on front page with hero section (ignore the rest for now). and the sooner you can push something the better 😄

[2022-11-05 15:51] khalilcodes commented on #181
@rufuspollock pushed the changes from yesterday - PR #185

I was looking at fonts and was thinking if a non-advanced user will be able to add their own in config. Are we looking to do something like that ?

[2022-11-05 21:10] rufuspollock commented on #181
I think we stick with tailwind and tailwind.config.js.

For flowershow users we can provide a tutorial on how to modify that (if needed and later)

[2022-11-07 06:13] nathenf commented on #184
@rufuspollock I moved over all pages into the [spreadsheet](https://docs.google.com/spreadsheets/d/13RVMrZ02Rw6a1BtftIUO4v7R7rXt5_phQLR4rHa343M/edit#gid=783988620). I also moved over the blog posts in a separate tab for future reference.

[2022-11-07 07:28] nathenf commented on #166
I've done a competitor analysis and made a summary of insights [here](https://docs.google.com/document/d/1E_zb3QNyx9steTrjtGhRx6hohVz7ZMQNuRyjSOsRHWY/edit#), I didn't find any direct competitors.

[2022-11-07 19:37] rufuspollock commented on #184
@nathenf great. created task item re blog posts. Please feel free to add more tasks.

Main thing here is to understand how we reorganize pages. Secondarily how to recategorize the posts. My guess is we have taxonomy described above so we first want to get initiatives/programs list sorted as per #97

[2022-11-07 20:20] rufuspollock commented on #184
@nathenf extensively annotated the pages list adding a sections column (with associated ["sections" sheet](https://docs.google.com/spreadsheets/d/13RVMrZ02Rw6a1BtftIUO4v7R7rXt5_phQLR4rHa343M/edit#gid=171606806) with key sections and their description). Sections are related to our info architecture discussions updated by looking at the pages.

[2022-11-08 23:19] rufuspollock commented on #190
FIXED. A first version of the tao was completed in Oct 2020. It was live at https://tao.lifeitself.org/

[2022-11-08 23:19] #190 closed

[2022-11-08 23:49] rufuspollock commented on #182
@EilidhRoss1 @nathenf done all the preliminary analysis and given amount of content and need for refactoring this is a good one to try out migration by hand. Do you want to take a look at the spreadsheet and let me know if it is clear and then we can start on this.

[2022-11-09 05:43] nathenf commented on #182
@rufuspollock it makes sense, we can start this

[2022-11-09 14:50] rufuspollock commented on #181
@khalilcodes can you update with current status and add new tasks (i've just updated the acceptance reflecting what we discussed earlier today)

[2022-11-10 10:53] khalilcodes commented on #181
@rufuspollock example writeup documentation for adding fonts and colors can be found here - https://hackmd.io/@khalil/S18UOMwHs/edit

[2022-11-10 13:32] rufuspollock opened #193 "Podcast landing page for next.lifeitself.org"
A podcast page that lists all the podcasts with links to their respective pages.

## Acceptance

- [x] Create a Podcast page with list for next.lifeitself.org using template from here tailwindui.com transmit at `next.lifeitself.org/podcast/` @ https://next.lifeitself.org/podcast
- [x] OPTIONAL: individual podcast page

<img width="1458" alt="Screen Shot 2022-11-17 at 2 43 44 PM" src="https://user-

[2022-11-10 13:40] rufuspollock commented on #95
FIXED. Residency happened and was great. See https://lifeitself.org/sympoiesis/3-cultivating-conscious-community-jan-2022/

[2022-11-10 13:40] #95 closed

[2022-11-10 14:19] rufuspollock opened #195 "Website 2022 design including job stories, info architecture etc"
## Acceptance

- [ ] What is the layout (information architecture) of the digital garden (and life itself site in general)?
- [ ] How do we have subsections of site (given its size) e.g. notebook section vs tao section vs ...
- [ ] What are our categories

## Analysis

[code]

## Categories

- News => used for all real news e.g. launch or major updates to initiatives, partnerships, etc ...
- Event

[2022-11-10 14:29] rufuspollock opened #196 "LI v3 Offers"

[2022-11-10 14:38] #126 closed

[2022-11-10 15:01] nathenf commented on #145
WONTFIX - Migrating from Wordpress to Next.Js

[2022-11-10 15:01] #145 closed

[2022-11-10 15:06] nathenf commented on #73
MERGED with #195 for categories// Checklist blog posts we have here: https://docs.google.com/document/d/1v6HgJEZINhnsxrHamHgZ26Fdc-ee8GWabb8zfbTBCYc/edit?usp=share_link

[2022-11-10 15:06] #73 closed, assigned to rufuspollock

[2022-11-10 15:09] nathenf commented on #183
@rufuspollock is this done?

[2022-11-10 19:37] rufuspollock commented on #181
I think we stick with tailwind and tailwind.config.js.

For flowershow users we can provide a tutorial on how to modify that (if needed and later).

[2022-11-10 19:38] rufuspollock commented on #181
Good start. I would recommend adding a bit more detail and an example on the Hero stuff. Walk through an example where you add some content to the hero with screenshots.

[2022-11-11 09:02] nathenf commented on #136
MERGED - #170 and [platform migration A10](https://docs.google.com/document/d/1fhl4quGen3KmglOYzfG6MXAbk7yR2H87weeN8ACqxBg/edit#)

[2022-11-11 09:02] #136 closed

[2022-11-11 09:08] nathenf commented on #149
DUPLICATE - merged with #170

[2022-11-11 09:08] #149 closed

[2022-11-11 16:11] rufuspollock commented on #193
@khalilcodes is there a PR for this?

[2022-11-11 16:12] rufuspollock commented on #183
No, #167 is done. this is follow-up.

[2022-11-12 22:17] rufuspollock commented on #97
@nathenf did some work on the initiatives list - would say 70% of the way there. Also had some thoughts on structure here https://next.lifeitself.org/notebook/projects/digital-garden-2022#2022-11-12---thoughts-on-structure

[2022-11-14 13:39] EilidhRoss1 opened #197 "Weekly Comms tasks"
Weekly comms tasks that will keep our social media presence going even when we are otherwise letting social media output take a backseat as we figure out wider strategy stuff.

This is the structure for weekly tasks, put weekly updates of comms work in comments.

## Acceptance

- [ ] 1 insta post every 2 weeks
- [ ] 1 twitter thread per week
- [ ] 1 hour twitter engagement a week
- [ ] Insta stori

[2022-11-15 10:51] khalilcodes commented on #193
@rufuspollock not ready yet

[2022-11-15 12:54] rufuspollock commented on #193
@khalilcodes i think it is ok  to get it in and we can add list of podcasts later (team can do that).

[2022-11-16 11:23] nathenf commented on #197
Thanks @EilidhRoss1, once you've gone through the process can you add amount of hours to deliver each main task?

[2022-11-16 11:27] nathenf commented on #182
@rufuspollock we are meeting at 2pm today to go through and begin migration

[2022-11-16 11:52] rufuspollock commented on #182
I don't have that in mind calendar. I think you could definitely start and do some initial pull requests to get the hang of it.

Note we want to move from having readme in different rectory to raw file name eg

[code]

[2022-11-18 07:33] rufuspollock opened #200 "Migrate https://github.com/life-itself/cultural-values to digital garden"
Created this 6y ago: https://github.com/life-itself/cultural-values - useful stuff we could put in digital garden.

## Acceptance

- [x] Relevant content migrated e.g. https://lifeitself.org/notes/schwarz-cultural-values **✅ https://next.lifeitself.org/notes/schwartz-cultural-values with further reading added to Zotero and linked in the note**
- [x] Repo marked as deprecated with notice about wher

[2022-11-18 14:31] EilidhRoss1 commented on #153
I contacted Sen to enquire about merging the hubcast in with the Life Itself podcast. She responded asking how the work she puts into the hubcast could be valued/acknowledged if the hubcast were to be merged with the Life Itself podcast:

Sen 16/11/22

"I’d be glad to discuss sharing my content, but it would be important for me to first have a conversation about how the work that has gone into the

[2022-11-18 15:06] EilidhRoss1 commented on #182
Have submitted a pull request to move contents of tao.lifeitself.org (https://github.com/life-itself/tao) to lifeitself.org/tao: https://github.com/life-itself/community/pull/202/commits
Have taken action based on: https://docs.google.com/spreadsheets/d/13RVMrZ02Rw6a1BtftIUO4v7R7rXt5_phQLR4rHa343M/edit#gid=453234015
Still need to do the blog stuff.

[2022-11-18 16:28] khalilcodes commented on #193
There's a 🐛 where the podcast player doesn't show up on the list page but works on individual podcast pages. The `<AudioProvider>` doesn't seem to get the updates on play even after adding it to `_app.js`. Needs debugging.

Closing this issue with latest merge from #199

[2022-11-18 16:28] #193 closed

[2022-11-18 18:36] rufuspollock commented on #153
@EilidhRoss1 can you cc me into the email thread.

[2022-11-18 22:17] rufuspollock commented on #182
@EilidhRoss1 👏 and will review. Note both for this task and other ones i would strongly recommend doing just a page or two in an initial pull request to check you are on right track before doing the whole lot (kind of like doing a small experiment).

[2022-11-21 07:43] EilidhRoss1 commented on #153
@rufuspollock done

[2022-11-21 08:56] rufuspollock commented on #181
@khalilcodes can you update acceptance criteria with where we are at.

[2022-11-23 15:50] EilidhRoss1 opened #203 "Move from Mailchimp to Beehiv"
## Acceptance

- [ ] We are using Beehiv rather than Mailchimp

## Tasks

- [ ] Sign up for Beehiv
- [ ] Transfer audience from mailchimp
- [ ] make template for monthly newsletter

## Analysis

### Why Beehiv?

See newsletter platform comparison: https://docs.google.com/spreadsheets/d/1Ep9r3VEhiWNaFx3PVMReu22nft3d6Uz79D4GBFni30c/edit#gid=1676172603

[2022-11-23 15:52] EilidhRoss1 commented on #153
Just following up on this @rufuspollock

[2022-11-24 18:20] rufuspollock opened #206 "[epic] Prep and (schedule) release of 3 podcasts from Autumn 2022"
We have 3 podcasts we recorded in Sep / Oct 2022 that we can publish. Let's get them out there!

Happy for this to split into 3 issues (or split out the 2nd two interviews) - just posting here quickly now.

Right now i would say getting at least Henrich item out b4 xmas would be great.

## Acceptance

- [x] Henrich podcast published #207  ✅ **[YouTube](https://youtu.be/vYzOr7l-U20), [Podcast](http

[2022-11-25 08:13] EilidhRoss1 opened #207 "Joseph Henrich conversation"
## Acceptance

- [x] Conversation published on Youtube & Anchor ✅ **[YouTube](https://youtu.be/vYzOr7l-U20) [Podcast](https://anchor.fm/life-itself/episodes/Joseph-Henrich-and-the-Emergence-of-a-Rigorous-Culturology-e1r9pgv) Scheduled for Weds 30/11 4pm**
- [x] Blog Post published ✅ **[Done](https://lifeitself.org/2022/11/25/joseph-henrich-and-the-emergence-of-a-rigorous-culturology/) Scheduled fo

[2022-11-25 10:31] rufuspollock opened #208 "Material to process / integrate re transforming the narrative pillar of work"
Old issue from 2020/2021

* [ ] Do we talk about the pillar "transforming the narrative" or the entity i.e. "the (Life Itself) institute/labs"
* [ ] Background on the institute etc that we should merge with tao or with PA10 https://docs.google.com/document/d/1-8f2RFlU4fnjASv-RmBYYCQ0KwNjA1y626S0JY58l58/edit#heading=h.e9i4likvk2j9
* [x] Theory of change re institute in plans
* [ ] Old material we h

[2022-11-25 15:27] rufuspollock opened #209 "2022 Year in Review post and mailout"
Idea: creating a "year in review" piece covering some highlights from across Life Itself and the network - plus maybe some (joky) metrics (e.g. number of residents over the year, number of tweets) would be nice.

Could also include some calls to action e.g. pointers to new residency, trailing the website revamp.

@EilidhRoss1 if you were happy to prep this we could then schedule this to go out ~ 2

[2022-11-28 09:10] EilidhRoss1 commented on #209
Sounds good 👍

[2022-11-28 10:23] nathenf commented on #118
MERGED with #196

[2022-11-28 10:23] #118 closed